@import url(https://fonts.google.com/specimen/Outfit);
:root{
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --font-size: 15px;
    --font-light-weight: 400;
    --font-havy-weight: 700;
}
body{
    margin: 0;
    padding: 0;
    background: var(--light-grey);
}
.container{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
img{
    max-width: 100%;
    border-radius: 10px;
}
.card {
    margin: 30px auto;
    padding: 10px;
    width: 370px;
    background: var(--white);
    border-radius: 10px;
    text-align: center;
}
.card h1{
    font-weight: 700;
}
.card p {
    padding: 10px;
    color: var(--grayish-blue);
}

@media (max-width: 375px){
    img{
        max-width: 100%;
        border-radius: 10px;
    }
    .card {
        margin: 20px auto;
        padding: 10px;
        width: 230px;
        background: var(--white);
        border-radius: 10px;
        text-align: center;
    }
    .card h1{
        font-weight: 700;
    }
    .card p {
        padding: 10px;
        color: var(--grayish-blue);
    }
}